In [3]:
## Assignment 2

## String

In [9]:
#1. reverse a string

k="string"
k[::-1]

'gnirts'

In [187]:
# 2. check palindrome

k=eval(input('enter the string'))
if k==k[::-1]:
    print("string is a palindrome")
else:
    print("string is not a palindrome")

enter the string 'nitin'

string is a palindrome

In [39]:
# 3.lowercase 
k=eval(input("enter the string"))
a=k.lower()
print(a)

enter the string "FRISSON"

frisson

In [41]:
# 4.uppercase 
k=eval(input("enter the string"))
a=k.upper()
print(a)

enter the string 'yash'

YASH

In [51]:
# 5.count vowels
s1=eval(input("enter the string"))
s2=""
for i in s1:
    if i in 'aeiou':
        s2+=i
print(len(s2))

enter the string 'aeiouyash'

6

In [55]:
# 6.count consonants
s1=eval(input("enter the string"))
s2=""
for i in s1:
    if i not in 'aeiou':
        s2+=i
print(len(s2))

enter the string 'aeiou'

0

In [57]:
# 7.remove whitespace 
s1=eval(input("enter the string"))
s1.strip()

enter the string '  yash  '

'yash'

In [551]:
# 8.find length without len func
s1=str(input("enter the string"))
s2=0
for i in s1:
    if i==" ":
        s2==0
    else:
        s2+=1
print(f"the length of string is {s2}")

enter the string yash rana

the length of string is 8

In [67]:
# 9.check string contains specific word
s1=eval(input("enter the string"))
s2=eval(input("enter the string"))
if s2 in s1:
    print(f"{s2} word found")
else:
    print(f"{s2} word not found")

enter the string "company i work in is Frisson Devhub"
enter the string 'Frisson'

Frisson word found

In [73]:
# 10.Replace a word in a string with another word
string=eval(input("enter the string"))
old_char=eval(input("enter the word to replace"))
new_char=eval(input("enter the new word"))
string.replace(old_char,new_char)

enter the string "company i work in is Frisson Devhub"
enter the word to replace "in"
enter the new word "for"

'company i work for is Frisson Devhub'

In [75]:
# 11.Count the occurrences of a word in a string.
string=eval(input("enter the string"))
word=eval(input("enter the word to count"))
string.count(word)

enter the string "frisson devhub"
enter the word to count "s"

2

In [89]:
# 12.Find the first occurrence of a word in a string.
s1="frisson devhub"
word=eval(input("enter the word"))
i=s1.find(word)
print(f"{word } is at {i} index in first occurence")

enter the word 's'

s is at 3 index in first occurence

In [95]:
# 13.Find the last occurrence of a word in a string.
s1="frisson devhub"
word=eval(input("enter the word"))
indexes=[]
for i in range(len(s1)):
    if s1[i]== word :
        indexes.append(i)
print(indexes[-1])

enter the word "s"

4

In [97]:
# 14.Split a string into a list of words.
s1="frisson devhub"
s1.split()

['frisson', 'devhub']

In [101]:
# 15.Join a list of words into a string.
s1=['frisson', 'devhub']
s2=" ".join(s1)
s2

'frisson devhub'

In [107]:
# 16.Convert a string where words are separated by spaces to one where words
# are separated by underscores.
s1="company i work for is Frisson Devhub"
s2=""
for i in s1:
    if i!=" ":
        s2+=i
    else:
        i="_"
        s2+=i
print(s2)

company_i_work_for_is_Frisson_Devhub

In [109]:
# 17.Check if a string starts with a specific word or phrase.
s1="hello my name is yash rana"
s1.startswith("hello")

True

In [111]:
# 18.Check if a string ends with a specific word or phrase.
s1="hello my name is yash rana"
s1.endswith("rana")

True

In [115]:
# 19.Convert a string to title case (e.g., "hello world" to "Hello World").
s1="hello world"
s1.title()

'Hello World'

In [143]:
# 20.Find the longest word in a string.
string="hello world my name is yash rana"
longest_word = ""
for i in string.split():
    if (len(i)>len(longest_word)):
        longest_word=i
print(longest_word)

hello

In [404]:
# 21.Find the shortest word in a string.
string="hello world my name is yash rana"
l=string.split()
shortest_word=l[0]

for i in l:
    if len(i)<len(shortest_word):
        shortest_word=i
print(shortest_word)

my

In [406]:
 # 22.Reverse the order of words in a string.
string="hello world my name is yash rana"
" ".join(string.split()[::-1])

'rana yash is name my world hello'

In [408]:
# 23. Check if a string is alphanumeric.
string="hello132"
string.isalnum()

True

In [410]:
# 24. Extract all digits from a string.
string="hello132"
digit=""
for i in string:
    if i.isnumeric(): # check word is numerical(isdigit) 
         digit+=i
print(digit)

132

In [412]:
# 25. Extract all alphabets from a string.
string="hello132"
digit=""
for i in string:
    if i.isalpha():  # check char is alphabet
        digit+=i
print(digit)

hello

In [414]:
# 26. Count the number of uppercase letters in a string.
string="HELLo worlD1223"
digit=""
for i in string:
    if i.isupper(): # check if char is upper
        digit+=i
print(len(digit))

5

In [416]:
# 27. Count the number of lowercase letters in a string.
string="HELLo woRlD1223"
digit=""
for i in string:
    if i.islower(): # check the char is lower
        digit+=i
print(len(digit))

4

In [418]:
# 28. Swap the case of each character in a string.
string="HELLo woRlD1223"
string.swapcase() # swap lower to upper and vice versa

'hellO WOrLd1223'

In [420]:
# 29. Remove a specific word from a string
string="hello world my name is yash rana"
word=eval(input('enter the word to remove:'))
string.replace(word, "").strip()

enter the word to remove: "my"

'hello world  name is yash rana'

In [323]:
# 30. Check if a string is a valid email address.
import re 
email=str(input("enter the mail: "))
pattern=r'^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
valid=re.match(pattern,email)
if valid:
    print("valid email")
else:
    print("not valid email")

enter the mail:  yashhdavb%gmail.com

not valid email

In [307]:
# 31. Extract the username from an email address string.
email = 'yashrana@gmail.com'
email.split('@')[0]

'yashrana'

In [309]:
# 32. Extract the domain name from an email address string.
email = 'yashrana@gmail.com'
email.split('@')[1]

'gmail.com'

In [565]:
# 33. Replace multiple spaces in a string with a single space.
string="hello   world"
result=""
for i in string:
    if i != " ":
        result+=i
        space=False
    else:
        if not space :
            result+=" "
            space=True
        
print(result)

hello world

In [315]:
# 34. Check if a string is a valid URL.
import re
url="http://example.com"
pattern = r'^(https?:\/\/)?(www\.)?[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}([\/\w.-]*)*\/?$'
valid=re.match(pattern,url)
if valid:
    print("valid url")
else:
    print("not valid url")

valid url

In [329]:
# 35.Extract the protocol (http or https) from a URL string
url="http://example.com"
url.split(":")[0]

'http'

In [583]:
#36. Find the frequency of each character in a string.
string="hello frisson devhub"
freq= ""
for i in string :
    if i not in freq:
        count=0
        for j in string:
            if j==i:
                count+=1
        print(f"{i}: is {count}")
        freq+=i

h: is 2
e: is 2
l: is 2
o: is 2
 : is 2
f: is 1
r: is 1
i: is 1
s: is 2
n: is 1
d: is 1
v: is 1
u: is 1
b: is 1

In [366]:
# 37. Remove all punctuation from a string.
string="Hello, World! Python is amazing."
punctuations = '''!()-[]{};:'",<>./?@#$%^&*_~'''
for i in string:
    if i in punctuations:
        string=string.replace(i,"")
print(string)

Hello World Python is amazing

In [380]:
# 38. Check if a string contains only digits.
string="3141"
if string.isnumeric():
    print("contain only digit")
else:
    print("give a string with digit")

contain only digit

In [384]:
# 39. Check if a string contains only alphabets.
string="yash"
if string.isalpha():
    print("contain only alphabet")
else:
    print("give a string with alphabet")

contain only alphabet

In [426]:
# 40. Convert a string to a list of characters.
string="frisson devhub"
s=list(string)
print(s)

['f', 'r', 'i', 's', 's', 'o', 'n', ' ', 'd', 'e', 'v', 'h', 'u', 'b']

In [450]:
# 41. Check if two strings are anagrams.
s1="mapqe"
s2="pqmae"
a1=sorted(s1)
a2=sorted(s2)
if a1==a2 :
    print('both string are anagram')
else:
    print("they are not anagram")

both string are anagram

In [456]:
# 42. Encode a string using a Caesar cipher.
string="yash"
shift=3
result=""
for i in string:
    if i.isupper():
        result+=chr((ord(i) + shift - 65) % 26 + 65)
    else:
        result+=chr((ord(i) + shift - 97) % 26 + 65)
print(result)

BDVK

In [460]:
# 43. Decode a Caesar cipher encoded string.
string="bdvk"
shift=3
result=""
for i in string:
    if i.isupper():
        result+=chr((ord(i) - shift - 65) % 26 + 65)
    else:
        result+=chr((ord(i) - shift - 97) % 26 + 65)
print(result)

YASH

In [479]:
# 44. Find the most frequent word in a string.
string="hellovaayu"
result=""
for i in string:
    count=0
    for j in string:
        if j==i :
            count+=1
    if count > 1:
        result = i
print(result)

a

In [483]:
# 45. Find all unique words in a string.
string="hellovaayu"
result=""
for i in string:
    if i not in result:
        result=result + i + " "
print(result)

h e l o v a y u

In [489]:
# 46. Count the number of syllables in a string.
string="hello"
vowel="aeiou"
result=""
for i in string:
    if i in vowel:
        result+=i
print(len(result))

2

In [503]:
# 47. Check if a string contains any special characters.
string="hello"
special_char='''!()-[]{};:'",<>./?@#$%^&*_~'''
count=0
for i in string:
    if i in special_char:
        count+=1
if count > 1 :
    print("contains special char")
else:
    print("no special char")

no special char

In [541]:
# 48. Remove the nth word from a string.
string="hello"
n=3
result=""
for i in range(len(string)):
    if i==n-1:
        continue
    else:
        result+=string[i]
print(result)

helo

In [547]:
# 49.Insert a word at the nth position in a string.
string="hello"
word="t"
n=1
result=""
for i in range(len(string)):
    if i==n-1:
        result+=word
    else:
        result+=string[i]
print(result)

tello

In [585]:
# 50. Convert a CSV string to a list of lists.
string="hello,my name is , yash rana"
string.split(',')

['hello', 'my name is ', ' yash rana']

In [555]:
# LIST

In [591]:
# 1. Create a list with integers from 1 to 10.
l=list(range(1,11))
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [605]:
# 2. Find the length of a list without using the `len()` function.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9,'yash']
count=0
for i in l:
    if i !="":
        count+=1
print(count)

11

In [609]:
# 3. Append an element to the end of a list.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9,'yash']
l.append(4)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'yash', 4]

In [613]:
# 4. Insert an element at a specific index in a list.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9,'yash']
l.insert(3,'frisson') # uses index for place to insert value
l

[1, 2, 3, 'frisson', 4, 5, 6, 7, 8, 9, 'yash']

In [630]:
# 5. Remove an element from a list by its value.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9,'yash']
l.remove('yash') # by value
l.pop(1) # remove by index
l

[1, 3, 4, 5, 6, 7, 8, 9]

In [638]:
# 7. Check if an element exists in a list.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9,'yash']
e=111
if e in l:
    print("exists in list")
else:
    print("not exist")

not exist

In [642]:
# 9. Count the occurrences of an element in a list.
l=['yash','frisson','world','yash',2,1,3,1]
occur=[]
for i in l:
    count=0
    if i not in occur:
        for j in l:
            if i==j:
                count+=1
        print(f"{i} is {count}")
        occur.append(i)

yash is 2
frisson is 1
world is 1
2 is 1
1 is 2
3 is 1

In [672]:
# 10. Reverse the order of elements in a list.
l=['yash','frisson','world','yash',2,1,3,1]
l[::-1]

[1, 3, 1, 2, 'yash', 'world', 'frisson', 'yash']

In [682]:
# sorting of list
l=[56,1,9,845,6,34,8,98,8912,56,1]
l.sort()
l

[1, 1, 6, 8, 9, 34, 56, 56, 98, 845, 8912]

In [686]:
# descending
l.sort(reverse=True)
l

[8912, 845, 98, 56, 56, 34, 9, 8, 6, 1, 1]

In [688]:
# 13. Create a list of even numbers from 1 to 20.
l=[]
for i in range(1,21):
    if i%2==0:
        l.append(i)
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [692]:
# 14. Create a list of odd numbers from 1 to 20.
l=[]
for i in range(1,20):
    if i % 2 !=0:
        l.append(i)
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [700]:
# 15. Find the sum,max,min of all elements in a list.
l=[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
s=sum(l) # gives sum 
m1=max(l) # maximum value
m2=min(l) # minimum value
print(a)
print(m1)
print(m2)

110
20
2

In [726]:
# 18. Create a list of squares of numbers from 1 to 10.
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x=[i**2 for i in l]
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [513]:
# 19. Create a list of random numbers.
l=[2,32,321,65,78,80,61,27,2,27]
l

[2, 32, 321, 65, 78, 80, 61, 27, 2, 27]

In [511]:
# 20. Remove duplicates from a list.
l2=[]
for i in l:
    if i not in l2:
        l2.append(i)
print(l2)

[2, 32, 321, 65, 78, 80, 61, 27]

In [732]:
# 21. Find the common elements between two lists.
l1=[2,4,6,8,1,9]
l2=[1,3,5,7,9,11]
l3=[]
for i in l1:
    for j in l2:
        if i==j:
            l3.append(i)
print(l3)

[1, 9]

In [752]:
# 22. Find the difference between two lists.
l1=[2,4,6,8,1,9]
l2=[1,3,5,7,9,11]
l3=[]
l4=[]
for i in l1:
    for j in l2:
        if i==j:
            l3.append(i)
c=l1+l2
for k in c:
    if k not in l3:
        l4.append(k)
print(l4)

[2, 4, 6, 8, 3, 5, 7, 11]

In [758]:
# 23. Merge two lists.
l1=[2,4,6,8,1,9]
l2=[1,3,5,7,9,11]
print(l1+l2) 
# 24. multiply by 2
print(l1*2)

[2, 4, 6, 8, 1, 9, 1, 3, 5, 7, 9, 11]
[2, 4, 6, 8, 1, 9, 2, 4, 6, 8, 1, 9]

In [760]:
# 25. Filter out all even numbers from a list.
l1=[2,4,6,8,1,9]
l2=[]
for i in l1:
    if i%2==0:
        l2.append(i)
print(l2)

[2, 4, 6, 8]

In [768]:
# 26. Convert a list of strings to a list of integers.
l1=['36','1','54','87']
l2=[int(i) for i in l1]
print(l2)

[36, 1, 54, 87]

In [764]:
# 27. Convert a list of integers to a list of strings.
l1=[12, 1, 54, 87]
l2=[str(i) for i in l1]
print(l2)

['12', '1', '54', '87']

In [774]:
# 28, flatten nested list 
l=[[1,2],[4,9],[5,6]]
l2=[]
for i in l1:
    for j in i:
        l2.append(int(j))
print(l2)

[3, 6, 1, 5, 4, 8, 7]

In [778]:
# 29. Create a list of the first 10 Fibonacci numbers.
l=[]
for i in range(11):
    if i == 0 or i==1:
        l.append(i)
    else:
        l.append(l[i-1]+l[i-2])
print(l)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [786]:
# 30. Check if a list is sorted.
l=[2,5,7,8,10]
a=sorted(l)
if l == a:
    print('sorted')
else:
    print('not sorted')

sorted

In [1]:
# 31. Rotate a list to the left by `n` positions.
l=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
k=2
l[k:]+l[:k]

[1, 2, 3, 5, 8, 13, 21, 34, 55, 0, 1]

In [7]:
# 32. Rotate a list to the right by `n` positions.
l=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]
k=4
l[-k:]+l[:-k]

[13, 21, 34, 55, 0, 1, 1, 2, 3, 5, 8]

In [21]:
# 33. Create a list of prime numbers up to 50.
l=[]
for i in range(2,50):
    count=0
    for j in range(2,25):
        if i%j==0:
            count+=1
    if count == 1:
        l.append(i)
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 25, 49]

In [35]:
# 34. Split a list into chunks of size `n`.
l=[13, 21, 34, 55, 0, 1, 1, 2, 3, 5, 8,9,0]
n=3
l1=[]
for i in range(0,len(l),n):
    l1.append(l[i:i+n])
print(l1)

[[13, 21, 34], [55, 0, 1], [1, 2, 3], [5, 8, 9], [0]]

In [81]:
# 35. Find the second largest number in a list.
l=[13, 21, 34, 55, 0, 1, 1, 2, 3, 5, 8,9,0]
l.sort(reverse=True)
l[1]

34

In [83]:
# 36. Replace every element in a list with its square.
l=[13, 21, 34, 55, 0, 1, 1, 2, 3, 5, 8,9,0]
l1=[i**2 for i in l]
l1

[169, 441, 1156, 3025, 0, 1, 1, 4, 9, 25, 64, 81, 0]

In [103]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
l=['rahul','devhub','yash','frisson']
l2=[l.index(i) for i in l]
d=dict(zip(l,l2))
print(d)

{'rahul': 0, 'devhub': 1, 'yash': 2, 'frisson': 3}

In [107]:
# 38. Shuffle the elements of a list randomly.
l=['rahul','devhub','yash','frisson']
s=set(l)
s

{'devhub', 'frisson', 'rahul', 'yash'}

In [109]:
# 39. Create a list of the first 10 factorial numbers.
l=[]
n=10
for i in range(0,n+1):
    if i<=1:
        l.append(i)
    else:
        i=i*(l[i-1])
        l.append(i)
print(l)

[0, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [125]:
# 40. Check if two lists have at least one element in common.
l=[1,2,3,4]
l2=[5,6,7,3,2,1]
l3=[]
for i in l:
    count=0
    for j in l2:
        if i==j:
            count+=1
    if count == 1:
        l3.append(i)
if len(l3):
    print("atleast one common")
else:
    print("no common")

atleast one common

In [155]:
# 41. Remove all elements from a list.
l=[1,2,3,4]
l.clear()
l

[]

In [169]:
# 42. Replace negative numbers in a list with 0.
l=[1,2,-5,4,-9,0,10,-6]
for i in range(len(l)):
    if l[i] < 0:
        l[i]=0
print(l)

[1, 2, 0, 4, 0, 0, 10, 0]

In [171]:
# 43. Convert a string into a list of words.
s="hello"
l=list(s)
l

['h', 'e', 'l', 'l', 'o']

In [275]:
# 44. Convert a list of words into a string.
l=['h', 'e', 'l', 'l', 'o']
s=""
for i in l:
    s+=i
print(s)

hello

In [213]:
# 46. Find the longest string in a list of strings.
l=['rahul','devhubbbb','yash','frisson']
l2=""
for i in range(len(l)):
    if len(l[i])>len(l2):
        l2=l[i]
print(l2)

devhubbbb

In [211]:
# 47. Find the shortest string in a list of strings.
l=['rahul','devhubbbb','yash','frisson']
l2=l[0]
for i in range(len(l)):
    if len(l[i])<len(l2):
        l2=l[i]
print(l2)

yash

In [551]:
# TUPLE

In [231]:
# 1. Create a tuple with integers from 1 to 5.
t=(1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [233]:
# 2. Access the third element of a tuple.
t[2]

3

In [245]:
# 3. Find the length of a tuple without using the `len()` function.
t=(1,2,3,4,5,8," ")
count=0
for i in t:
    if i != " ":
        count+=1
print(count)

6

In [259]:
# 4. Count the occurrences of an element in a tuple.
t=('hello frisson devhub')
occur=""
for i in t:
    count=0
    for j in t:
        if i==j:
            count+=1
    if i not in occur:
        print(f"{i} is {count}")
        occur+=i

h is 2
e is 2
l is 2
o is 2
  is 2
f is 1
r is 1
i is 1
s is 2
n is 1
d is 1
v is 1
u is 1
b is 1

In [261]:
# 5. Find the index of the first occurrence of an element in a tuple.

In [267]:
# 6. Check if an element exists in a tuple.
t=('hello frisson devhub')
n='a'
if n in t:
    print ("exists")
else:
    print("not exists")

not exists

In [533]:
# 7. Convert a tuple to a list.
t=('hello')
l=list(t)
l

['h', 'e', 'l', 'l', 'o']

In [271]:
# 8. Convert a list to a tuple.
l=['rahul','devhub','yash','frisson']
t=tuple(l)
t

('rahul', 'devhub', 'yash', 'frisson')

In [281]:
# 10. Create a tuple of even numbers from 1 to 10.
l=[]
for i in range(1,11):
    if i%2==0:
        l.append(i)
t=tuple(l)
t

(2, 4, 6, 8, 10)

In [283]:
# 11. Create a tuple of odd numbers from 1 to 10.
l=[]
for i in range(1,11):
    if i%2!=0:
        l.append(i)
t=tuple(l)
t

(1, 3, 5, 7, 9)

In [285]:
# 12. Concatenate two tuples.
t1=(1,2,3,4)
t2=(6,7,8,9)
t1+t2

(1, 2, 3, 4, 6, 7, 8, 9)

In [289]:
# 13. Repeat a tuple three times.
t1=(1,2,3,4)
t1*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [295]:
# 14. Check if a tuple is empty.
t1=()
if not len(t1):
    print('empty')
else:
    print("not empty")

empty

In [305]:
# 15. Create a nested tuple.
t=((1,3),(4,2),(6,5))
t

((1, 3), (4, 2), (6, 5))

In [307]:
# 16. Access the first element of a nested tuple
t=((1,3),(4,2),(6,5))
t1=[j for i in t for j in i]
t1[0]

1

In [311]:
# 17. Create a tuple with a single element.
t=(1)
t

1

In [381]:
# 19. delete a tuple
t1=(1,2,3,4)
del (t1)

In [330]:
# 20. slicing in tuple
t1=(1,2,3,4)
t1[1:3]

(2, 3)

In [365]:
# 21. maximum and minimum in tuple
t1=(2,7,6,55,3,0,54)
print(max(t1))
print(min(t1))

55
0

In [537]:
# 23. Convert a string to a tuple of characters.
s="hello"
t=tuple(s)
print(t)

('h', 'e', 'l', 'l', 'o')

In [395]:
# 24.Convert a tuple of characters to a string
t=('h', 'e', 'l', 'l', 'o')
s=''.join(t)
print(s)

hello

In [399]:
# 25. Create a tuple from multiple data types
t=('yash',1,2,'frisson')
print(t)
type(t)

('yash', 1, 2, 'frisson')

tuple

In [401]:
# 26. Check if two tuples are identical.
t1=(1,2,3,4,5)
t2=(1,3,23,4,5)
t1==t2

False

In [409]:
# 27. Sort the elements of a tuple.
t2=(1,3,23,4,5)
s=sorted(t2)
print(tuple(s))

(1, 3, 4, 5, 23)

In [387]:
# 28. convert a tuple of intger to str
t=(1,2,3,4)
l=[]
for i in t:
    l.append(str(i))
print(tuple(l))

('1', '2', '3', '4')

In [363]:
# 29. convert a tuple of intger to str
t=('1','2','3','4')
l=[]
for i in t:
    l.append(int(i))
print(tuple(l))

(1, 2, 3, 4)

In [415]:
# 30. Merge two tuples.
t1=(1,2,3,4,5)
t2=('yash','frisson')
t1+t2

(1, 2, 3, 4, 5, 'yash', 'frisson')

In [423]:
# 31. Flatten a nested tuple.
t=((1,3),(4,2),(5,6))
t1=[item for i in t for item in i]
print(tuple(t1))

(1, 3, 4, 2, 5, 6)

In [425]:
# 32. Create a tuple of the first 5 prime numbers.
s=(1,2,3,5,7)
s

(1, 2, 3, 5, 7)

In [433]:
# 33. Check if a tuple is a palindrome.
t=('nitin')
t==t[::-1]

True

In [437]:
# 34. Create a tuple of squares of numbers from 1 to 5.
t=(1,4,9,16,25)
t

(1, 4, 9, 16, 25)

In [439]:
# 35. Filter out all even numbers from a tuple.
t=(1,6,7,8,81,9,10,5,23)
l=[]
for i in t:
    if i%2==0:
        l.append(i)
print(tuple(l))

(6, 8, 10)

In [443]:
# 36. Multiply all elements in a tuple by 2.
t=(1,6,7,8,81,9,10,5,23)
l=[i*2 for i in t]
print(tuple(l))

(2, 12, 14, 16, 162, 18, 20, 10, 46)

In [451]:
# 37. Create a tuple of random numbers.
t=(1,213,14,23525,423,133,123,4,342,32)
print(t)

(1, 213, 14, 23525, 423, 133, 123, 4, 342, 32)

In [465]:
# 38. Check if a tuple is sorted.
t=(1,23,56,78,99)
s=sorted(t)
if t==tuple(s):
    print("sorted tuple")
else:
    print("not sorted")
print(s)

sorted tuple
[1, 23, 56, 78, 99]

In [477]:
# 39. Rotate a tuple to the left by `n` positions.
t=(1,23,56,78,99)
n=2
l=t[n:]+t[:n]
print(tuple(l))

(56, 78, 99, 1, 23)

In [491]:
# 40. Rotate a tuple to the right by `n` positions.
t=(1,23,56,78,99)
n=3
r=t[-n:]+t[:-n]
print(tuple(r))

(56, 78, 99, 1, 23)

In [495]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
l=[]
for i in range(0,5):
    if i<=1:
        l.append(i)
    else:
        l.append(l[i-1]+l[i-2])
print(tuple(l))

(0, 1, 1, 2, 3)

In [499]:
# 42. Create a tuple from user input.
l=[]
x=int(input("enter the size of tuple"))
for i in range(0,x):
    y=eval(input("enter the value for tuple"))
    l.append(y)
t=tuple(l)
print(t)

enter the size of tuple 2
enter the value for tuple 'yash'
enter the value for tuple 5

('yash', 5)

In [501]:
# 43. Swap two elements in a tuple.

In [503]:
# 44. Reverse the elements of a tuple.
t=('hello')
t[::-1]

'olleh'

In [505]:
# 45. Create a tuple of the first `n` powers of 2.
l=[]
n=5
for i in range(n):
    l.append(i**2)
print(tuple(l))

(0, 1, 4, 9, 16)

In [543]:
# 46. Find the longest string in a tuple of strings.
t=('rahul','devhubbbb','yash','frisson')
l=list(t)
l2=""
for i in range(len(l)):
    if len(l[i])>len(l2):
        l2=l[i]

print(l2)

devhubbbb

In [545]:
# 47. Find the shortest string in a tuple of strings.
t=('rahul','devhubbbb','yash','frisson')
l=list(t)
l2=l[0]
for i in range(len(l)):
    if len(l[i])<len(l2):
        l2=l[i]

print(l2)

yash

In [547]:
# SET

In [557]:
# 1. Create a set with integers from 1 to 5.
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [567]:
# 2. Add an element to a set.
s.add(7)
print(s)

{1, 2, 3, 4, 5, 7, '4', 'yash'}

In [569]:
# 3. Remove an element from a set.
s.remove('yash')
print(s)

{1, 2, 3, 4, 5, 7, '4'}

In [573]:
# 4. Check if an element exists in a set.
w="yash"
if w in s:
    print("element exists")
else:
    print("not exists")

element exists

In [577]:
# 5. Find the length of a set without using the `len()` function

count=0
for i in s:
    if i !=" ":
        count+=1
print(count)
s

7

{1, 2, 3, 4, '4', 5, 7}

In [581]:
# 6. Clear all elements from a set.
s.clear()
s

set()

In [655]:
# 7. Create a set of even numbers from 1 to 10.
s={2,4,6,8,10}
# 9. Create a set of odd numbers from 1 to 10.
s1={10,3,5,7,9}

In [613]:
# 9. Find the union of two sets.
s2=s.union(s1)
print(s2)

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [615]:
# 10. Find the intersection of two sets.
s3=s.intersection(s1)
print(s3)

{10}

In [619]:
# 11. Find the difference between two sets.
s4=s.difference(s1)
print(s4)

{8, 2, 4, 6}

In [625]:
# 12. Check if a set is a subset of another set.
s.issubset(s2)

True

In [629]:
# 13. Check if a set is a superset of another set.
s2.issuperset(s1)

True

In [631]:
# 14. Create a set from a list.
l=[13, 21, 34, 55, 0, 1, 1, 2, 3, 5, 8,9,0]
s=set(l)
print(s)
print(type(s))

{0, 1, 34, 2, 3, 5, 8, 9, 13, 21, 55}
<class 'set'>

In [633]:
# 15. Convert a set to a list.
l=list(s)
print(l)
print(type(l))

[0, 1, 34, 2, 3, 5, 8, 9, 13, 21, 55]
<class 'list'>

In [641]:
# 16. Remove a random element from a set.
s={0, 1, 34, 2, 3, 5, 8, 9, 13, 21, 55}
s.remove(1)
print(s)

{0, 34, 2, 3, 5, 8, 9, 13, 21, 55}

In [645]:
# 16. pop a element from a set.
s.pop()
s

{2, 3, 5, 8, 9, 13, 21, 55}

In [679]:
# 18. Check if two sets have no elements in common.
s={1,2,3,4}
s1={5,6,7,8}
s2=s.intersection(s1)
if len(s2)>=1:
    print("elements common")
else:
    print("no element common")

no element common

In [681]:
# 19. Find the symmetric difference between two sets.
s={1,2,3,4}
s1={5,6,7,8,1}
s.symmetric_difference(s1) # union without intersection

{2, 3, 4, 5, 6, 7, 8}

In [697]:
# 20. Update a set with elements from another set.
s={1,2,3,4}
s1={5,6,7,8}
s.update(s1)
s

{5, 6, 7, 8}

In [703]:
# 21. Create a set of the first 5 prime numbers.
s={2,3,5,7,11}

In [705]:
# 22. Check if two sets are identical.
s==s1

False

In [707]:
# 23. Create a frozen set.
s={2,3,5,7,11}
s1=frozenset(s)
s1

frozenset({2, 3, 5, 7, 11})

In [721]:
# 24. Check if a set is disjoint with another set.
s={1,2,3,4}
s1={1,56,5,7,8}
s.isdisjoint(s1)

False

In [723]:
# 25. Create a set of squares of numbers from 1 to 5.
s={1,4,9,16,25}

In [731]:
# 26. Filter out all even numbers from a set.
s={1,4,9,16,25}
l=[]
for i in s:
    if i%2==0:
        l.append(i)
print(set(l))

{16, 4}

In [733]:
# 27. Multiply all elements in a set by 2.
s1=[i*2 for i in s]
print(set(s1))

{32, 2, 8, 18, 50}

In [735]:
# 28. Create a set of random numbers.
s={1,4567,345,5423,2,3424,656,573,413,87,5}

In [737]:
# 29. Check if a set is empty.
if len(s)>=1:
    print("not empty")
else:
    print("empty")

not empty

In [815]:
# 30. Create a nested set (hint: use frozenset).

In [775]:
# 31. Remove an element from a set using the discard method.
s.discard('sonu')
s

{1, 2, 5, 87, 345, 413, 573, 656, 3424, 4567, 5423}

In [777]:
# 32. Compare two sets.
s==s1

False

In [791]:
# 33. Create a set from a string.
s="hello"
s1=set(s)
s1

{'e', 'h', 'l', 'o'}

In [795]:
# 34. Convert a set of strings to a set of integers
s1={'36','1','54','87'}
s2={int(i) for i in s1}
print(s2)

{1, 36, 54, 87}

In [801]:
# 35. Convert a set of integers to a set of strings.
s1={1, 36, 54, 87}
s2={str(i) for i in s1}
print(s2)

{'54', '1', '36', '87'}

In [803]:
# 36. Create a set from a tuple.
t=(1,3,4,56543,33)
s=set(t)
s

{1, 3, 4, 33, 56543}

In [805]:
# 37. Convert a set to a tuple.
s={1, 3, 4, 33, 56543}
t=tuple(s)
t

(1, 33, 3, 4, 56543)

In [807]:
# 38. Find the maximum value in a set.
s={1, 3, 4, 33, 56543}
m=max(s)
print(m)

56543

In [809]:
# 38. Find the minimum value in a set.
s={1, 3, 4, 33, 56543}
m=min(s)
print(m)

1

In [813]:
# 40. Create a set from user input.
l=[]
x=int(input("enter the size of set"))
for i in range(0,x):
    y=eval(input("enter the value for set"))
    l.append(y)
print(set(l))

enter the size of set 3
enter the value for set 1
enter the value for set 2
enter the value for set 3

{1, 2, 3}

In [819]:
# 41. Check if the intersection of two sets is empty.
s={1,2,3}
s1={4,5}
if len(s.intersection(s1))<1:
    print("empty")
else:
    print("not empty")

empty

In [823]:
# 42. Create a set of the first 5 Fibonacci numbers.
s={0,1,1,2,3}
s

{0, 1, 2, 3}

In [825]:
# 43. Remove duplicates from a list using sets.
l=[1,2,2,3]
print(set(l))

{1, 2, 3}

In [829]:
# 44. Check if two sets have the same elements, regardless of their count.
s={1,2,3}
s1={4,5,3}
s==s1

False

In [831]:
# 45. Create a set of the first `n` powers of 2.
l=[]
n=5
for i in range(n):
    l.append(i**2)
print(set(l))

{0, 1, 4, 9, 16}